[Unit]
Description=Watchdog MySQL Exporter 
After=network.target
 
[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/python3 /root/python-exporters/watchdog2mysql.py
WorkingDirectory=/root/python-exporters
 
[Install]
WantedBy=multi-user.target
